

.header {
    background-color: #4b6cb7;
    width: 1366px;

    &_inner {
        padding: 26px 25px;
        display: flex;
        align-items: center;

    }
    .header_logo {
        padding-right: 39px;
    }

    .nav_list {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 1rem;
    }
    .nav_item {
        text-align: center;
    }
    .nav_item a{
        display: block;
    }
    .nav_item::after {
        content: attr(data-en);
        font-size: 10px;
        
    }
    .nav_item a span{
        margin: 0 7px 4px 8px;
        width: 23px;
        height: 26px;
    }
}