.header {
  background-color: #4b6cb7;
}

.header_inner {
  padding: 26px 25px;
  display: flex;
  align-items: center;
}

.header_inner .header_logo {
  padding-right: 39px;
}

.header_inner .nav_list {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
}

.header_inner .nav_item::before,
.header_inner .nav_item::after {
  content: '';
  width: 3px;
  height: 40px;
  background-color: #3fc1c9;
}

.header_inner .nav_item::after {
  margin-left: 30px;
  transform: rotate(35deg);
}
